#output {
    font-size: 1.25rem;
    font-weight: 200;
    text-align: left;
}

body {
    background-color: #A9A9A9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    background-color: #fff;
    text-align: center;
    margin: auto;
    margin-bottom: 7rem;
    padding: 1.3rem;
    width: 850px;
    border-radius: 1rem;
    margin-top: 1.4rem;
    display: flex;
    flex-direction: column;
}

.container-main {
    background-color: #C0C0C0;
    border-radius: 1rem;
    padding: 1.5rem;
    margin-top: 1.3rem;
    display: flex;
    flex-direction: column;
}

.flex-container {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.product {
    background-color: #DCDCDC;
    border-radius: 0.5rem;
    padding: 0.7rem;
    margin: auto;
    display: flex;
    flex-direction: column;
}

img{
    border-radius: 1rem;
}

.dish-img {
    width: 200px;
    height: 300px;
    border-radius: 0.5rem;
}

.price {
    font-size: 20px;
    color: green;
    font-weight: 600;
}

input {
    margin: auto;
    margin-top: 1rem;
    width: 90%;
    height: 1.5rem;
    border: none;
    border-radius: 0.3rem;
    padding: 8px;
    font-size: medium;
}

input:focus {
    outline: none;
}

button {
    background-color: #394fca;
    height: 2.5rem;
    font-size: large;
    color: #fff;
    border-radius: 0.3rem;
    border: none;
    margin-top: 1rem;
}

button:hover {
    background-color: #37448e;
}

.title {
    font-weight: 700;
    font-size: 1.3rem;
}

.subtitle {
    margin-top: 0.6rem;
    font-weight: 540;
    font-size: 1.2rem;
}